@inject IDateService DateService
<h3>Format Distance</h3>
<div>
    <label>Date : </label>
    <input type="date" @bind="@Date" />
</div>
<div>
    <label>Base Date : </label>
    <input type="date" @bind="@BaseDate" />
</div>

<div>
    <p>Distance : @distance</p>
    <p>Distance Strict : @distanceStrict</p>
</div>
<button class="btn btn-primary" @onclick="FormatDistanceAsync">
    Calculate
</button>

@code {
    public DateTime Date { get; set; } = DateTime.Today;
    public DateTime BaseDate { get; set; } = DateTime.Today;

    private string distance = "";
    private string distanceStrict = "";
    private async Task FormatDistanceAsync()
    {
        //Optional Options for FormatDistance
        var options = new FormatDistanceOptions
        {
            AddSuffix = true,
            IncludeSeconds = true
        };

        //Optional Options for FormatDistanceStrict
        var optionsStrict = new FormatDistanceStrictOptions
        {
            AddSuffix = true,
            Unit = "second"
        };

        distance = await DateService.FormatDistance(Date, BaseDate, options);
        distanceStrict = await DateService.FormatDistanceStrict(Date, BaseDate, optionsStrict);
    }

}
